header {
    background: #cccaca;
}

#bannernav {
    width: 20%;
}


nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

body {
    background-color: #ffffff;
}

.principal {
    background: #f8f7f7;
}

#banner {
    width: 100%;
    height: 550px;
}

h1 {
    text-align: center;
    height: 120px;
    border: 5px solid #f7c627;
    padding-top: 70px;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: rgb(202, 182, 1);
}

h2 {
    text-align: center;
    height: 40px;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #ffffff;
    padding: 30px;
}

#banner2 {
    width: 50%;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
